In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv("D:\krishnaik course projects\Churn prediction\Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
label_gender_encoder=LabelEncoder()
data['Gender']=label_gender_encoder.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# geography one hot encoder 
one_hot_encoder=OneHotEncoder(handle_unknown='ignore')
geo_data=one_hot_encoder.fit_transform(data[['Geography']]).toarray()
geo_data_df=pd.DataFrame(geo_data, columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_data_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
#concatinate the features 
geo_data_df=pd.concat([data.drop('Geography',axis=1),geo_data_df],axis=1)

In [7]:
geo_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [8]:
X=geo_data_df.drop('EstimatedSalary',axis=1)
y=geo_data_df['EstimatedSalary']

In [9]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=34)

In [11]:
scaler1=StandardScaler()
X_train_scaled=scaler1.fit_transform(X_train)
y_trained_scaled=scaler1.transform(X_test)
X_train_scaled

array([[-1.51737124, -1.09969743,  0.68722156, ..., -1.00501256,
        -0.57292385,  1.73032049],
       [ 0.09062759,  0.90934104,  2.69430085, ...,  0.99501244,
        -0.57292385, -0.57792762],
       [-1.79747427, -1.09969743,  1.83412401, ..., -1.00501256,
         1.74543266, -0.57792762],
       ...,
       [-0.79117822,  0.90934104, -0.45968089, ..., -1.00501256,
        -0.57292385,  1.73032049],
       [-0.55257194,  0.90934104,  0.59164636, ...,  0.99501244,
        -0.57292385, -0.57792762],
       [ 0.04913085, -1.09969743,  0.11377033, ..., -1.00501256,
         1.74543266, -0.57792762]])

In [12]:
# pickle file 
with open('one_hot_encoder1.pkl','wb') as file:
    pickle.dump(one_hot_encoder,file)
with open('label_encoder_gender1.pkl','wb') as file:
    pickle.dump(label_gender_encoder,file)
with open('scaler1.pkl','wb') as file:
    pickle.dump(scaler1,file)

In [13]:
# ANN with regression 
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
# build model 
model=Sequential(
    [
        Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
        Dense(32,activation='relu'),
        Dense(1) # output layers for regression 

    ]
)
#comiple the model 
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

d:\krishnaik course projects\Churn prediction\env\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
# set up the log 
log_dir='regreesion/fit/'+ datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorboard_callbacks=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [16]:
earlystopping=EarlyStopping(monitor='val_loss',patience=8,restore_best_weights=True)

In [17]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[earlystopping,tensorboard_callbacks])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 84456.8203 - mae: 84456.8203 - val_loss: 68117.1875 - val_mae: 68117.1875
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 65367.0430 - mae: 65367.0430 - val_loss: 59679.6133 - val_mae: 59679.6133
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 55952.0664 - mae: 55952.0664 - val_loss: 52145.5977 - val_mae: 52145.5977
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 52249.1680 - mae: 52249.1680 - val_loss: 51357.6250 - val_mae: 51357.6250
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51578.8906 - mae: 51578.8906 - val_loss: 51158.8672 - val_mae: 51158.8672
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51108.1367 - mae: 51108.1367 - val_loss: 51312.3047 - val_mae: 51312.3047
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51825.1406 - mae: 51825.1406 - val_loss: 52035.3086 - val_mae: 52035.3086
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 52046.6016 - mae: 52046.6016 - val_loss: 51086.0742 - val_mae: 51086.0742
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51518.1016 - mae: 51518.1016 - val_loss: 51965.1680 - val_mae: 51965.1680
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 52001.1250 - mae: 52001.1250 - val_loss: 51016.4141 - val_mae: 51016.4141
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51045.9023 - mae: 51045.9023 - val_loss: 51019.4883 - val_mae: 51019.4883
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50593.7109 - mae: 50593.7109 - val_loss: 50982.0469 - val_mae: 50982.0469
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51208.8555 - mae: 51208.8555 - val_loss: 50934.4375 - val_mae: 50934.4375
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51484.5625 - mae: 51484.5625 - val_loss: 51437.4492 - val_mae: 51437.4492
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51142.1445 - mae: 51142.1445 - val_loss: 50942.4297 - val_mae: 50942.4297
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51245.7891 - mae: 51245.7891 - val_loss: 51115.6211 - val_mae: 51115.6211
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51026.9961 - mae: 51026.9961 - val_loss: 50973.9961 - val_mae: 50973.9961
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50999.2852 - mae: 50999.2852 - val_loss: 50980.1328 - val_mae: 50980.1328
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51370.9336 - mae: 51370.9336 - val_loss: 51055.8711 - val_mae: 51055.8711
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50783.2266 - mae: 50783.2266 - val_loss: 50794.9219 - val_mae: 50794.9219
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50576.7031 - mae: 50576.7031 - val_loss: 50998.0273 - val_mae: 50998.0273
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51178.9219 - mae: 51178.9219 - val_loss: 50780.8906 - val_mae: 50780.8906
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51456.5820 - mae: 51456.5820 - val_loss: 51473.1680 - val_mae: 51473.1680
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51144.3984 - mae: 51144.3984 - val_loss: 50756.7617 - val_mae: 50756.7617
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50880.1953 - mae: 50880.1953 - val_loss: 50737.5000 - val_mae: 50737.5000
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50606.8359 - mae: 50606.8359 - val_loss: 50809.1680 - val_mae: 50809.1680
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51142.7695 - mae: 51142.7695 - val_loss: 50727.6055 - val_mae: 50727.6055
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51396.2070 - mae: 51396.2070 - val_loss: 50656.3281 - val_mae: 50656.3281
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51094.4688 - mae: 51094.4688 - val_loss: 50662.7617 - val_mae: 50662.7617
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51396.0781 - mae: 51396.0781 - val_loss: 50718.1992 - val_mae: 50718.1992
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50814.8125 - mae: 50814.8125 - val_loss: 50748.5391 - val_mae: 50748.5391
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50855.8945 - mae: 50855.8945 - val_loss: 50702.0625 - val_mae: 50702.0625
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50999.2148 - mae: 50999.2148 - val_loss: 51558.1289 - val_mae: 51558.1289
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50983.3203 - mae: 50983.3203 - val_loss: 50631.5156 - val_mae: 50631.5156
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51320.9258 - mae: 51320.9258 - val_loss: 50752.0664 - val_mae: 50752.0664
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51047.0898 - mae: 51047.0898 - val_loss: 50641.9492 - val_mae: 50641.9492
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50969.8555 - mae: 50969.8555 - val_loss: 53097.5664 - val_mae: 53097.5664
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50034.6133 - mae: 50034.6133 - val_loss: 51762.2539 - val_mae: 51762.2539
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51248.4023 - mae: 51248.4023 - val_loss: 50618.8203 - val_mae: 50618.8203
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50767.3242 - mae: 50767.3242 - val_loss: 50578.8398 - val_mae: 50578.8398
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50308.9023 - mae: 50308.9023 - val_loss: 51297.2891 - val_mae: 51297.2891
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51746.0664 - mae: 51746.0664 - val_loss: 50952.3555 - val_mae: 50952.3555
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51273.4141 - mae: 51273.4141 - val_loss: 50581.8242 - val_mae: 50581.8242
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 50452.8906 - mae: 50452.8906 - val_loss: 50570.0039 - val_mae: 50570.0039
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50769.7500 - mae: 50769.7500 - val_loss: 50584.0664 - val_mae: 50584.0664
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50793.4688 - mae: 50793.4688 - val_loss: 50557.9766 - val_mae: 50557.9766
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51184.0586 - mae: 51184.0586 - val_loss: 50564.4219 - val_mae: 50564.4219
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50512.6523 - mae: 50512.6523 - val_loss: 50808.9844 - val_mae: 50808.9844
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50578.6680 - mae: 50578.6680 - val_loss: 50559.3477 - val_mae: 50559.3477
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51062.3438 - mae: 51062.3438 - val_loss: 50662.6094 - val_mae: 50662.6094
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51191.9258 - mae: 51191.9258 - val_loss: 50722.7383 - val_mae: 50722.7383
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50325.3594 - mae: 50325.3594 - val_loss: 50559.0859 - val_mae: 50559.0859
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50576.8281 - mae: 50576.8281 - val_loss: 51743.1523 - val_mae: 51743.1523
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51062.3008 - mae: 51062.3008 - val_loss: 50672.2969 - val_mae: 50672.2969

In [18]:
%load_ext tensorboard

In [19]:
%tensorboard --log_dir regreesion/fit

ERROR: Failed to launch TensorBoard (exited with 1).
Contents of stderr:
2024-09-01 18:24:35.497173: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-09-01 18:24:37.687589: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
Error: A logdir or db must be specified. For example `tensorboard --logdir mylogdir` or `tensorboard --db sqlite:~/.tensorboard.db`. Run `tensorboard --helpfull` for details and examples.

In [20]:
# evaluate the model 
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 49207.1914 - mae: 49207.1914
test MAE: 50557.9765625

In [21]:
model.save('regreesion.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.